<%- include("header") -%>

<h2>This is the about section of the website</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quam numquam fugit cupiditate voluptates repellendus similique excepturi suscipit tempora placeat illo sint, et quidem iure.</p>

<%- include("footer") -%>